body {
    background-color: #f1f1f1;
    height: 20.8rem;
}

.container-fluid {
    padding: 0;
}

.main {
    background-color: white;
    margin: 0.278rem 0.417rem 0;
    padding: 0.139rem 0.278rem;
    border-radius: 0.333rem;
}


iframe {
    width: 10rem;
    height: 20.8rem;
    /*width: 100%;*/
    /*height: 100%;*/
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    /*background: #eee;*/
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.373rem;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 0.48rem;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.lead {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.lead_pic1 {
    width: 9.973rem;
    height: 6.293rem;
}

.lead_pic2 {
    width: 7.84rem;
    height: 6.933rem;
}

.lead_pic3 {
    width: 8.747rem;
    height: 7.707rem;
}

.leadNow {
    width: 8.72rem;
    height: 1.28rem;
}

/*.lead img {*/
/*    width: 100%;*/
/*}*/

.lead_page {
    position: relative;
}

.lead_btn {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%);
    width: 8.72rem;
    height: 1.28rem;
    background-color: #003cbf;
    font-size: 0.48rem;
    color: white;
    border-radius: 0.133rem;
    border: none;
}

.dot {
    position: absolute;
    bottom: 10% !important;
}

/*底部导航栏*/
.footer_nav {
    margin: 0;
    padding: 0 0.533rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.347rem;
    background-color: white;
    z-index: 999;
}

.footer_ico {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer_ico i {
    margin-top: 0.133rem;
    font-size: 0.293rem;
    color: black;
    display: block;
    text-align: center;
    white-space: nowrap;
}

.icon_lump {
    display: block;
    width: 0.907rem;
    height: 0.907rem;
}

.icon_lump img {
    width: 100%;
    height: 100%;
}